<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youran.generate.mapper.MetaFieldMapper">

    <select id="findCount" resultType="int">
        select count(1) from meta_field
        where delSign=0
        and entityId= #{entityId,jdbcType=INTEGER}
        and fieldId in
        <foreach collection="fieldIdList" index="index" item="fieldId" open="(" separator="," close=")">
            #{fieldId}
        </foreach>
    </select>



    <select id="findById" resultType="MetaFieldPO">
        select * from meta_field
        where delSign=0
        and fieldId = #{fieldId,jdbcType=INTEGER}
    </select>

    <select id="exist" resultType="int">
        select count(*) from meta_field
        where delSign=0
        and fieldId = #{fieldId,jdbcType=INTEGER}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="fieldId" parameterType="MetaFieldPO">
        insert into meta_field (
          fieldId, entityId, jfieldName,
          fieldName, jfieldType, fieldType,
          fieldDesc, fieldExample,
          fieldComment, fieldLength, fieldScale,
          primaryKey, autoIncrement, notNull,
          defaultValue, editType, dicType,
          `insert`, `update`, list,
          `show`, `query`, queryType,
          orderNo, specialField, createDate,
          createBy, operateDate, operateBy,
          delSign, version)
        values (#{fieldId,jdbcType=INTEGER}, #{entityId,jdbcType=INTEGER}, #{jfieldName,jdbcType=VARCHAR},
          #{fieldName,jdbcType=VARCHAR}, #{jfieldType,jdbcType=VARCHAR}, #{fieldType,jdbcType=VARCHAR},
          #{fieldDesc,jdbcType=VARCHAR}, #{fieldExample,jdbcType=VARCHAR},
          #{fieldComment,jdbcType=VARCHAR}, #{fieldLength,jdbcType=INTEGER}, #{fieldScale,jdbcType=INTEGER},
          #{primaryKey,jdbcType=SMALLINT}, #{autoIncrement,jdbcType=SMALLINT}, #{notNull,jdbcType=SMALLINT},
          #{defaultValue,jdbcType=VARCHAR}, #{editType,jdbcType=INTEGER}, #{dicType,jdbcType=VARCHAR},
          #{insert,jdbcType=SMALLINT}, #{update,jdbcType=SMALLINT}, #{list,jdbcType=SMALLINT},
          #{show,jdbcType=SMALLINT}, #{query,jdbcType=SMALLINT}, #{queryType,jdbcType=INTEGER},
          #{orderNo,jdbcType=INTEGER}, #{specialField,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
          #{createBy,jdbcType=VARCHAR}, #{operateDate,jdbcType=TIMESTAMP}, #{operateBy,jdbcType=VARCHAR},
          #{delSign,jdbcType=SMALLINT}, #{version,jdbcType=INTEGER})
    </insert>

    <update id="update" parameterType="MetaFieldPO">
        update meta_field
        set entityId = #{entityId,jdbcType=INTEGER},
          jfieldName = #{jfieldName,jdbcType=VARCHAR},
          fieldName = #{fieldName,jdbcType=VARCHAR},
          jfieldType = #{jfieldType,jdbcType=VARCHAR},
          fieldType = #{fieldType,jdbcType=VARCHAR},
          fieldDesc = #{fieldDesc,jdbcType=VARCHAR},
          fieldExample = #{fieldExample,jdbcType=VARCHAR},
          fieldComment = #{fieldComment,jdbcType=VARCHAR},
          fieldLength = #{fieldLength,jdbcType=INTEGER},
          fieldScale = #{fieldScale,jdbcType=INTEGER},
          primaryKey = #{primaryKey,jdbcType=SMALLINT},
          autoIncrement = #{autoIncrement,jdbcType=SMALLINT},
          notNull = #{notNull,jdbcType=SMALLINT},
          defaultValue = #{defaultValue,jdbcType=VARCHAR},
          editType = #{editType,jdbcType=INTEGER},
          dicType = #{dicType,jdbcType=VARCHAR},
          `insert` = #{insert,jdbcType=SMALLINT},
          `update` = #{update,jdbcType=SMALLINT},
          list = #{list,jdbcType=SMALLINT},
          `show` = #{show,jdbcType=SMALLINT},
          `query` = #{query,jdbcType=SMALLINT},
          queryType = #{queryType,jdbcType=INTEGER},
          orderNo = #{orderNo,jdbcType=INTEGER},
          specialField = #{specialField,jdbcType=VARCHAR},
          operateDate = #{operateDate,jdbcType=TIMESTAMP},
          operateBy = #{operateBy,jdbcType=VARCHAR},
          version = #{version,jdbcType=INTEGER}
        where fieldId = #{fieldId,jdbcType=INTEGER}
        and version=#{version,jdbcType=INTEGER}
        and delSign=0
    </update>

    <delete id="delete">
        update meta_field set
        delSign=1
        where fieldId = #{fieldId,jdbcType=INTEGER}
        and delSign=0
    </delete>

    <select id="findListByQuery" parameterType="MetaFieldQueryDTO" resultType="MetaFieldListVO">
        select * from meta_field t
        where t.delSign=0
        and t.entityId = #{entityId,jdbcType=INTEGER}
        order by t.orderNo, t.fieldId
    </select>

    <select id="findByEntityId" parameterType="int" resultType="MetaFieldPO">
        select * from meta_field t
        where t.delSign=0
        and t.entityId = #{entityId,jdbcType=INTEGER}
        order by t.orderNo, t.fieldId
    </select>
</mapper>
