<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.youran.generate.pojo"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/youran/generate/mapper/MetaConstDetailMapper.xml"/>
        <mapper resource="com/youran/generate/mapper/MetaConstMapper.xml"/>
        <mapper resource="com/youran/generate/mapper/MetaEntityMapper.xml"/>
        <mapper resource="com/youran/generate/mapper/MetaFieldMapper.xml"/>
        <mapper resource="com/youran/generate/mapper/MetaIndexFieldMapper.xml"/>
        <mapper resource="com/youran/generate/mapper/MetaIndexMapper.xml"/>
        <mapper resource="com/youran/generate/mapper/MetaManyToManyMapper.xml"/>
        <mapper resource="com/youran/generate/mapper/MetaProjectMapper.xml"/>
    </mappers>
</configuration>
