<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--开启驼峰命名转换Table:create_time到 Entity(createTime)-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.youran.generate.pojo"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/youran/generate/dao/MetaConstDetailDAO.xml"/>
        <mapper resource="com/youran/generate/dao/MetaConstDAO.xml"/>
        <mapper resource="com/youran/generate/dao/MetaEntityDAO.xml"/>
        <mapper resource="com/youran/generate/dao/MetaFieldDAO.xml"/>
        <mapper resource="com/youran/generate/dao/MetaIndexFieldDAO.xml"/>
        <mapper resource="com/youran/generate/dao/MetaIndexDAO.xml"/>
        <mapper resource="com/youran/generate/dao/MetaManyToManyDAO.xml"/>
        <mapper resource="com/youran/generate/dao/MetaProjectDAO.xml"/>
        <mapper resource="com/youran/generate/dao/MetaCascadeExtDAO.xml"/>
        <mapper resource="com/youran/generate/dao/GenHistoryDAO.xml"/>
    </mappers>
</configuration>
