// 四种标准颜色
$color-danger: #fa5555;
$color-success: #67c23a;
$color-primary: #409EFF;
$color-warning: #FFA500;

// 添加及修改表单的padding
$form-padding: 30px 50px;

// 表格行padding
$el-table-padding: 3px 0;

@mixin youran-form {
    padding: 30px 50px;
    .el-form-item__error {
        margin-left: 10px;
    }
    .col-left {
        padding-left: 0px!important;
        line-height: normal;
    }
    .col-right {
        padding-right: 0px!important;;
        line-height: normal;
    }
}

