// 四种标准颜色
$color-danger: #fa5555;
$color-success: #67c23a;
$color-primary: #409EFF;
$color-warning: #eb9e05;

// 添加及修改表单的padding
$form-padding: 30px 50px;

// 表格行padding
$el-table-padding: 3px 0;


@mixin youran-form {
    padding: 30px 50px;
}
