@import 'common.scss';

.el-menu {
  height: 100%;
}

.el-breadcrumb {
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 20px;
}

.el-breadcrumb__inner {
  font-weight: bold!important;
}

.el-breadcrumb__inner.is-link{
  cursor:pointer;
  color:$color-primary
}


.el-dropdown-link{
  cursor:pointer;
  color:$color-primary
}

.el-notification {
    word-break: break-all;
}

.el-table {
    th {
        background: aliceblue;
    }
}
