@import 'common.scss';

html, body {
    height: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
}

header {
    width: 100%;
    padding: 0 20px;
    z-index: 1;
    box-sizing: border-box;
}


.container {
    padding-top: 80px;
}


.slide-fade-enter-active {
    animation: fade-in .2s;
}

.slide-fade-leave-active {
    animation: fade-out .4s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes fade-out {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}


.color-danger {
    color: $color-danger;
}

.color-success {
    color: $color-success;
}

.color-primary {
    color: $color-primary;
}

.color-warning {
    color: $color-warning;
}

.el-table {
    th {
        background: aliceblue;
    }
}
/**
 * 表格中的图标
 */
.table-cell-icon {
    vertical-align: middle;
}
/**
 * 覆盖默认字体
 */
input, textarea, select, button {
    font-family: Arial;
}
