@import 'common.scss';

html, body {
    height: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 100%;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    padding: 0 20px;
    z-index: 1;
    box-sizing: border-box;
}

.header-logo-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0px;
    width: 50px;
    height: 50px;
}

.header-logo {
    fill: #FFFFFF;
}

.header-logo:hover {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
    -webkit-transition: -webkit-transform 2s linear;
    transition: transform 2s cubic-bezier(0.25, 0.1, 0.25, 1);
}


.header-title {
    margin: 10px 10px 15px 10px;
    display: inline-block;
    vertical-align: middle;
}


.content {
    padding: 20px;
}


.container {
    padding-top: 80px;
}


.slide-fade-enter-active {
    animation: fade-in .2s;
}

.slide-fade-leave-active {
    animation: fade-out .4s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes fade-out {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}


.color-danger {
    color: $color-danger;
}

.color-success {
    color: $color-success;
}

.color-primary {
    color: $color-primary;
}

.color-warning {
    color: $color-warning;
}

.el-table {
    th {
        background: aliceblue;
    }
}
/**
 * 表格中的图标
 */
.table-cell-icon {
    vertical-align: middle;
}
