server:
    servlet:
        context-path: /
    port: 8088
spring:
    application:
        name: youran-generate
    profiles:
        active: local
    # 强制指定响应头content-type是utf-8编码
    http:
        encoding:
            force: true
    security:
        user:
            name: admin
            password: 123456
    servlet:
        multipart:
            max-request-size: 100MB
            max-file-size: 100MB
swagger:
    base-package: com.youran.generate

mybatis:
    config-location: classpath:mybatis-config.xml

youran:
    auto-branch-name: auto
    aes-key: orpNB6YGbiiDcrrubk2rFQ==
    version: 3.3.0
    api-path: /api
    ws-api-path: /ws_api
    security-enabled: false

