html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100%;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  padding: 0 20px;
  z-index: 1;
  box-sizing: border-box;
}

.header-logo {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0px;
}

.header-title {
  margin: 10px 10px 15px 10px;
  display: inline-block;
  vertical-align: middle;
}


.content {
  padding: 20px;
}


.container {
  padding-top: 80px;
}



.slide-fade-enter-active {
  animation: fade-in .2s;
}
.slide-fade-leave-active {
  animation: fade-out .4s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes fade-out {
  0% {
    /*transform: translateX(0%);*/
    opacity: 100;
  }
  100% {
    /*transform: translateX(90%);*/
    opacity: 0;
  }
}


.color-danger{
  color:#fa5555;
}
.color-success{
  color:#67c23a;
}
.color-primary{
  color:#409EFF;
}
.color-warning{
  color:#eb9e05;
}

