html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100%;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  padding: 0 20px;
  z-index: 1;
  box-sizing: border-box;
}



.container {
  padding-top: 80px;
}



.content {
  padding: 20px;
}

.header-logo {
  display: inline-block;
  vertical-align: middle;
}

.color-danger{
  color:#fa5555;
}
.color-success{
  color:#67c23a;
}
.color-primary{
  color:#409EFF;
}
.color-warning{
  color:#eb9e05;
}
.el-dropdown-link{
  cursor:pointer;
  color:#409EFF
}
