/**
 * 调整表格行高
 */
.el-table td{
  padding: 6px 0;
}

.el-menu {
  height: 100%;
}

.el-breadcrumb {
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 20px;
}


.el-breadcrumb__inner.is-link{
  cursor:pointer;
  color:#409EFF
}


.el-dropdown-link{
  cursor:pointer;
  color:#409EFF
}
