@font-face {
	font-family: 'hawcons';
	src:url('fonts/hawcons.eot?-kxka6d');
	src:url('fonts/hawcons.eot?#iefix-kxka6d') format('embedded-opentype'),
		url('fonts/hawcons.woff?-kxka6d') format('woff'),
		url('fonts/hawcons.ttf?-kxka6d') format('truetype'),
		url('fonts/hawcons.svg?-kxka6d#hawcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="hawcons-"], [class*=" hawcons-"] {
	font-family: 'hawcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hawcons-icon-1-mail-envelope:before {
	content: "\e600";
}
.hawcons-icon-2-mail-envelope-open:before {
	content: "\e601";
}
.hawcons-icon-3-mail-envelope-closed:before {
	content: "\e602";
}
.hawcons-icon-4-mail-envelope-open:before {
	content: "\e603";
}
.hawcons-icon-5-mail-envelope-open:before {
	content: "\e604";
}
.hawcons-icon-6-mail-envelope-closed:before {
	content: "\e605";
}
.hawcons-icon-7-mail-envelope-open:before {
	content: "\e606";
}
.hawcons-icon-8-mail-error:before {
	content: "\e607";
}
.hawcons-icon-9-mail-checked:before {
	content: "\e608";
}
.hawcons-icon-10-mail-cancel:before {
	content: "\e609";
}
.hawcons-icon-11-mail--forbidden:before {
	content: "\e60a";
}
.hawcons-icon-12-mail-add:before {
	content: "\e60b";
}
.hawcons-icon-13-mail-remove:before {
	content: "\e60c";
}
.hawcons-icon-14-flag:before {
	content: "\e60d";
}
.hawcons-icon-15-flag:before {
	content: "\e60e";
}
.hawcons-icon-16-flag:before {
	content: "\e60f";
}
.hawcons-icon-17-flag:before {
	content: "\e610";
}
.hawcons-icon-18-bookmark:before {
	content: "\e611";
}
.hawcons-icon-19-bookmark-add:before {
	content: "\e612";
}
.hawcons-icon-20-bookmark-remove:before {
	content: "\e613";
}
.hawcons-icon-21-eye-hidden:before {
	content: "\e614";
}
.hawcons-icon-22-eye:before {
	content: "\e615";
}
.hawcons-icon-23-star:before {
	content: "\e616";
}
.hawcons-icon-24-key:before {
	content: "\e617";
}
.hawcons-icon-25-key:before {
	content: "\e618";
}
.hawcons-icon-26-trash-can:before {
	content: "\e619";
}
.hawcons-icon-27-trash-can:before {
	content: "\e61a";
}
.hawcons-icon-28-information:before {
	content: "\e61b";
}
.hawcons-icon-29-information:before {
	content: "\e61c";
}
.hawcons-icon-30-book:before {
	content: "\e61d";
}
.hawcons-icon-31-book-bookmark:before {
	content: "\e61e";
}
.hawcons-icon-32-clipboard-edit:before {
	content: "\e61f";
}
.hawcons-icon-33-clipboard-add:before {
	content: "\e620";
}
.hawcons-icon-34-clipboard-remove:before {
	content: "\e621";
}
.hawcons-icon-35-clipboard:before {
	content: "\e622";
}
.hawcons-icon-36-clipboard-download:before {
	content: "\e623";
}
.hawcons-icon-37-clipboard-upload:before {
	content: "\e624";
}
.hawcons-icon-38-clipboard-checked:before {
	content: "\e625";
}
.hawcons-icon-39-clipboard-text:before {
	content: "\e626";
}
.hawcons-icon-40-clipboard-list:before {
	content: "\e627";
}
.hawcons-icon-41-note:before {
	content: "\e628";
}
.hawcons-icon-42-note-add:before {
	content: "\e629";
}
.hawcons-icon-43-note-remove:before {
	content: "\e62a";
}
.hawcons-icon-44-note-text:before {
	content: "\e62b";
}
.hawcons-icon-45-note-list:before {
	content: "\e62c";
}
.hawcons-icon-46-note-checked:before {
	content: "\e62d";
}
.hawcons-icon-47-note-important:before {
	content: "\e62e";
}
.hawcons-icon-48-notebook:before {
	content: "\e62f";
}
.hawcons-icon-49-notebook:before {
	content: "\e630";
}
.hawcons-icon-50-notebook:before {
	content: "\e631";
}
.hawcons-icon-51-notebook:before {
	content: "\e632";
}
.hawcons-icon-52-notebook-text:before {
	content: "\e633";
}
.hawcons-icon-53-notebook-list:before {
	content: "\e634";
}
.hawcons-icon-54-document:before {
	content: "\e635";
}
.hawcons-icon-55-document-text:before {
	content: "\e636";
}
.hawcons-icon-56-document-text:before {
	content: "\e637";
}
.hawcons-icon-57-document-download:before {
	content: "\e638";
}
.hawcons-icon-58-document-upload:before {
	content: "\e639";
}
.hawcons-icon-59-document-bookmark:before {
	content: "\e63a";
}
.hawcons-icon-60-document-diagrams:before {
	content: "\e63b";
}
.hawcons-icon-61-document-recording:before {
	content: "\e63c";
}
.hawcons-icon-62-document-table:before {
	content: "\e63d";
}
.hawcons-icon-63-document-music:before {
	content: "\e63e";
}
.hawcons-icon-64-document-movie:before {
	content: "\e63f";
}
.hawcons-icon-66-document-play:before {
	content: "\e640";
}
.hawcons-icon-67-document-graph:before {
	content: "\e641";
}
.hawcons-icon-68-document-time:before {
	content: "\e642";
}
.hawcons-icon-69-document-text:before {
	content: "\e643";
}
.hawcons-icon-70-document-code:before {
	content: "\e644";
}
.hawcons-icon-71-document-cloud:before {
	content: "\e645";
}
.hawcons-icon-72-documents:before {
	content: "\e646";
}
.hawcons-icon-73-documents:before {
	content: "\e647";
}
.hawcons-icon-74-document-search:before {
	content: "\e648";
}
.hawcons-icon-75-document-star:before {
	content: "\e649";
}
.hawcons-icon-76-document-unlocked:before {
	content: "\e64a";
}
.hawcons-icon-77-document-locked:before {
	content: "\e64b";
}
.hawcons-icon-78-document-error:before {
	content: "\e64c";
}
.hawcons-icon-79-document-cancel:before {
	content: "\e64d";
}
.hawcons-icon-80-document-checked:before {
	content: "\e64e";
}
.hawcons-icon-81-document-add:before {
	content: "\e64f";
}
.hawcons-icon-82-document-remove:before {
	content: "\e650";
}
.hawcons-icon-83-document-forbidden:before {
	content: "\e651";
}
.hawcons-icon-84-document-information:before {
	content: "\e652";
}
.hawcons-icon-85-folder-information:before {
	content: "\e653";
}
.hawcons-icon-86-document-list:before {
	content: "\e654";
}
.hawcons-icon-87-document-font:before {
	content: "\e655";
}
.hawcons-icon-88-inbox:before {
	content: "\e656";
}
.hawcons-icon-89-inboxes:before {
	content: "\e657";
}
.hawcons-icon-90-inbox-document:before {
	content: "\e658";
}
.hawcons-icon-91-inbox-document-text:before {
	content: "\e659";
}
.hawcons-icon-92-inbox-download:before {
	content: "\e65a";
}
.hawcons-icon-93-inbox-upload:before {
	content: "\e65b";
}
.hawcons-icon-94-folder:before {
	content: "\e65c";
}
.hawcons-icon-95-folder:before {
	content: "\e65d";
}
.hawcons-icon-96-folders:before {
	content: "\e65e";
}
.hawcons-icon-97-folder-download:before {
	content: "\e65f";
}
.hawcons-icon-98-folder-upload:before {
	content: "\e660";
}
.hawcons-icon-99-folder-unlocked:before {
	content: "\e661";
}
.hawcons-icon-100-folder-locked:before {
	content: "\e662";
}
.hawcons-icon-101-folder-search:before {
	content: "\e663";
}
.hawcons-icon-102-folder-error:before {
	content: "\e664";
}
.hawcons-icon-103-folder-cancel:before {
	content: "\e665";
}
.hawcons-icon-104-folder-checked:before {
	content: "\e666";
}
.hawcons-icon-105-folder-add:before {
	content: "\e667";
}
.hawcons-icon-106-folder-remove:before {
	content: "\e668";
}
.hawcons-icon-107-folder-forbidden:before {
	content: "\e669";
}
.hawcons-icon-108-folder-bookmark:before {
	content: "\e66a";
}
.hawcons-icon-109-document-zip:before {
	content: "\e66b";
}
.hawcons-icon-110-zip:before {
	content: "\e66c";
}
.hawcons-icon-111-search:before {
	content: "\e66d";
}
.hawcons-icon-112-search-plus:before {
	content: "\e66e";
}
.hawcons-icon-113-search-minus:before {
	content: "\e66f";
}
.hawcons-icon-114-lock:before {
	content: "\e670";
}
.hawcons-icon-115-lock-open:before {
	content: "\e671";
}
.hawcons-icon-116-lock-open:before {
	content: "\e672";
}
.hawcons-icon-117-lock-stripes:before {
	content: "\e673";
}
.hawcons-icon-118-lock-rounded:before {
	content: "\e674";
}
.hawcons-icon-119-lock-rounded-open:before {
	content: "\e675";
}
.hawcons-icon-120-lock-rounded-open:before {
	content: "\e676";
}
.hawcons-icon-121-combination-lock:before {
	content: "\e677";
}
.hawcons-icon-122-printer:before {
	content: "\e678";
}
.hawcons-icon-123-printer:before {
	content: "\e679";
}
.hawcons-icon-124-printer-text:before {
	content: "\e67a";
}
.hawcons-icon-125-printer-text:before {
	content: "\e67b";
}
.hawcons-icon-126-document-shred:before {
	content: "\e67c";
}
.hawcons-icon-127-shredder:before {
	content: "\e67d";
}
.hawcons-icon-128-document-scan:before {
	content: "\e67e";
}
.hawcons-icon-129-cloud-download:before {
	content: "\e67f";
}
.hawcons-icon-130-cloud-upload:before {
	content: "\e680";
}
.hawcons-icon-131-cloud-error:before {
	content: "\e681";
}
.hawcons-icon-132-cloud:before {
	content: "\e682";
}
.hawcons-icon-133-inbox-filled:before {
	content: "\e683";
}
.hawcons-icon-134-pen:before {
	content: "\e684";
}
.hawcons-icon-135-pen-angled:before {
	content: "\e685";
}
.hawcons-icon-136-document-edit:before {
	content: "\e686";
}
.hawcons-icon-137-document-certificate:before {
	content: "\e687";
}
.hawcons-icon-138-certificate:before {
	content: "\e688";
}
.hawcons-icon-139-package:before {
	content: "\e689";
}
.hawcons-icon-140-box:before {
	content: "\e68a";
}
.hawcons-icon-141-box-filled:before {
	content: "\e68b";
}
.hawcons-icon-142-box:before {
	content: "\e68c";
}
.hawcons-icon-143-box:before {
	content: "\e68d";
}
.hawcons-icon-144-box-bookmark:before {
	content: "\e68e";
}
.hawcons-icon-145-tag-cord:before {
	content: "\e68f";
}
.hawcons-icon-146-tag:before {
	content: "\e690";
}
.hawcons-icon-147-tags:before {
	content: "\e691";
}
.hawcons-icon-148-tag-add:before {
	content: "\e692";
}
.hawcons-icon-149-tag-remove:before {
	content: "\e693";
}
.hawcons-icon-150-tag-checked:before {
	content: "\e694";
}
.hawcons-icon-151-tag-cancel:before {
	content: "\e695";
}
.hawcons-icon-152-paperclip:before {
	content: "\e696";
}
.hawcons-icon-1-basketball:before {
	content: "\e697";
}
.hawcons-icon-2-baseball:before {
	content: "\e698";
}
.hawcons-icon-3-tennis-ball:before {
	content: "\e699";
}
.hawcons-icon-4-bowling-ball:before {
	content: "\e69a";
}
.hawcons-icon-5-billiard-ball:before {
	content: "\e69b";
}
.hawcons-icon-6-soccer-ball:before {
	content: "\e69c";
}
.hawcons-icon-7-soccer-court:before {
	content: "\e69d";
}
.hawcons-icon-8-football:before {
	content: "\e69e";
}
.hawcons-icon-9-football:before {
	content: "\e69f";
}
.hawcons-icon-10-basketball:before {
	content: "\e6a0";
}
.hawcons-icon-11-baseball-set:before {
	content: "\e6a1";
}
.hawcons-icon-12-tennis-ball:before {
	content: "\e6a2";
}
.hawcons-icon-13-trophy:before {
	content: "\e6a3";
}
.hawcons-icon-14-trophy-one:before {
	content: "\e6a4";
}
.hawcons-icon-15-trophy:before {
	content: "\e6a5";
}
.hawcons-icon-16-medal:before {
	content: "\e6a6";
}
.hawcons-icon-17-medal:before {
	content: "\e6a7";
}
.hawcons-icon-18-weights:before {
	content: "\e6a8";
}
.hawcons-icon-19-tennis-racket:before {
	content: "\e6a9";
}
.hawcons-icon-20-basketball-hoop:before {
	content: "\e6aa";
}
.hawcons-icon-21-table-tennis:before {
	content: "\e6ab";
}
.hawcons-icon-22-volleyball:before {
	content: "\e6ac";
}
.hawcons-icon-23-stop-watch:before {
	content: "\e6ad";
}
.hawcons-icon-24-stop-watch:before {
	content: "\e6ae";
}
.hawcons-icon-25-hockey-stick:before {
	content: "\e6af";
}
.hawcons-icon-26-hockey-sticks:before {
	content: "\e6b0";
}
.hawcons-icon-27-shuttlecock:before {
	content: "\e6b1";
}
.hawcons-icon-28-golf:before {
	content: "\e6b2";
}
.hawcons-icon-29-move:before {
	content: "\e6b3";
}
.hawcons-icon-30-clipboard-move:before {
	content: "\e6b4";
}
.hawcons-icon-31-award:before {
	content: "\e6b5";
}
.hawcons-icon-32-award:before {
	content: "\e6b6";
}
.hawcons-icon-33-award:before {
	content: "\e6b7";
}
.hawcons-icon-34-award:before {
	content: "\e6b8";
}
.hawcons-icon-35-medal:before {
	content: "\e6b9";
}
.hawcons-icon-36-medal:before {
	content: "\e6ba";
}
.hawcons-icon-37-boxing-glove:before {
	content: "\e6bb";
}
.hawcons-icon-38-whistle:before {
	content: "\e6bc";
}
.hawcons-icon-39-volleyball-water:before {
	content: "\e6bd";
}
.hawcons-icon-40-checkered-flag:before {
	content: "\e6be";
}
.hawcons-icon-41-target-arrow:before {
	content: "\e6bf";
}
.hawcons-icon-42-target:before {
	content: "\e6c0";
}
.hawcons-icon-43-sailing-boat:before {
	content: "\e6c1";
}
.hawcons-icon-44-sailing-boat-water:before {
	content: "\e6c2";
}
.hawcons-icon-45-bowling-pins:before {
	content: "\e6c3";
}
.hawcons-icon-46-bowling-pin-ball:before {
	content: "\e6c4";
}
.hawcons-icon-47-diving-goggles:before {
	content: "\e6c5";
}
.hawcons-icon-48-sports-shoe:before {
	content: "\e6c6";
}
.hawcons-icon-49-soccer-shoe:before {
	content: "\e6c7";
}
.hawcons-icon-50-ice-skate:before {
	content: "\e6c8";
}
.hawcons-icon-1-cloud:before {
	content: "\e6c9";
}
.hawcons-icon-2-cloud-sun:before {
	content: "\e6ca";
}
.hawcons-icon-3-cloud-moon:before {
	content: "\e6cb";
}
.hawcons-icon-4-cloud-rain:before {
	content: "\e6cc";
}
.hawcons-icon-5-cloud-sun-rain:before {
	content: "\e6cd";
}
.hawcons-icon-6-cloud-moon-rain:before {
	content: "\e6ce";
}
.hawcons-icon-7-cloud-snow:before {
	content: "\e6cf";
}
.hawcons-icon-8-cloud-sun-snow:before {
	content: "\e6d0";
}
.hawcons-icon-9-cloud-moon-snow:before {
	content: "\e6d1";
}
.hawcons-icon-10-cloud-lightning:before {
	content: "\e6d2";
}
.hawcons-icon-11-cloud-sun-lightning:before {
	content: "\e6d3";
}
.hawcons-icon-12-cloud-moon-lightning:before {
	content: "\e6d4";
}
.hawcons-icon-13-cloud-wind:before {
	content: "\e6d5";
}
.hawcons-icon-14-cloud-raindrops:before {
	content: "\e6d6";
}
.hawcons-icon-15-cloud-sun-raindrops:before {
	content: "\e6d7";
}
.hawcons-icon-16-cloud-moon-raindrops:before {
	content: "\e6d8";
}
.hawcons-icon-17-cloud-snowflakes:before {
	content: "\e6d9";
}
.hawcons-icon-18-cloud-sun-snowflakes:before {
	content: "\e6da";
}
.hawcons-icon-19-cloud-moon-snowflakes:before {
	content: "\e6db";
}
.hawcons-icon-20-clouds:before {
	content: "\e6dc";
}
.hawcons-icon-21-cloud-add:before {
	content: "\e6dd";
}
.hawcons-icon-22-cloud-remove:before {
	content: "\e6de";
}
.hawcons-icon-23-cloud-error:before {
	content: "\e6df";
}
.hawcons-icon-24-cloud-fog:before {
	content: "\e6e0";
}
.hawcons-icon-25--cloud-sun-fog:before {
	content: "\e6e1";
}
.hawcons-icon-26-cloud-moon-fog:before {
	content: "\e6e2";
}
.hawcons-icon-27-moon-stars:before {
	content: "\e6e3";
}
.hawcons-icon-28-moon:before {
	content: "\e6e4";
}
.hawcons-icon-29-sun:before {
	content: "\e6e5";
}
.hawcons-icon-30-sunrise:before {
	content: "\e6e6";
}
.hawcons-icon-31-sunset:before {
	content: "\e6e7";
}
.hawcons-icon-32-sunset:before {
	content: "\e6e8";
}
.hawcons-icon-33-sunset:before {
	content: "\e6e9";
}
.hawcons-icon-34-rainbow:before {
	content: "\e6ea";
}
.hawcons-icon-35-umbrella:before {
	content: "\e6eb";
}
.hawcons-icon-36-raindrops:before {
	content: "\e6ec";
}
.hawcons-icon-37-raindrop:before {
	content: "\e6ed";
}
.hawcons-icon-38-sunglasses:before {
	content: "\e6ee";
}
.hawcons-icon-39-stars:before {
	content: "\e6ef";
}
.hawcons-icon-40-clouds:before {
	content: "\e6f0";
}
.hawcons-icon-41-moonrise:before {
	content: "\e6f1";
}
.hawcons-icon-42-moonset:before {
	content: "\e6f2";
}
.hawcons-icon-43-wind:before {
	content: "\e6f3";
}
.hawcons-icon-44-full-moon:before {
	content: "\e6f4";
}
.hawcons-icon-45-crescent:before {
	content: "\e6f5";
}
.hawcons-icon-46-half-moon:before {
	content: "\e6f6";
}
.hawcons-icon-47-gibbous-moon:before {
	content: "\e6f7";
}
.hawcons-icon-48-moon:before {
	content: "\e6f8";
}
.hawcons-icon-49-gibbous-moon:before {
	content: "\e6f9";
}
.hawcons-icon-50-half-moon:before {
	content: "\e6fa";
}
.hawcons-icon-51-crescent:before {
	content: "\e6fb";
}
.hawcons-icon-52-barometer:before {
	content: "\e6fc";
}
.hawcons-icon-53-compass-north:before {
	content: "\e6fd";
}
.hawcons-icon-54-compass-west:before {
	content: "\e6fe";
}
.hawcons-icon-55-compass-east:before {
	content: "\e6ff";
}
.hawcons-icon-56-compass-south:before {
	content: "\e700";
}
.hawcons-icon-57-air-sock:before {
	content: "\e701";
}
.hawcons-icon-58-tornado:before {
	content: "\e702";
}
.hawcons-icon-59-degree-fahrenheit:before {
	content: "\e703";
}
.hawcons-icon-60-degree-celsius:before {
	content: "\e704";
}
.hawcons-icon-61-warning:before {
	content: "\e705";
}
.hawcons-icon-62-compass:before {
	content: "\e706";
}
.hawcons-icon-63-compass:before {
	content: "\e707";
}
.hawcons-icon-64-compass:before {
	content: "\e708";
}
.hawcons-icon-65-compass:before {
	content: "\e709";
}
.hawcons-icon-66-thermometer:before {
	content: "\e70a";
}
.hawcons-icon-67-thermometer-low:before {
	content: "\e70b";
}
.hawcons-icon-68-thermometer-quarter:before {
	content: "\e70c";
}
.hawcons-icon-69-thermometer-half:before {
	content: "\e70d";
}
.hawcons-icon-70-thermometer-three-quarters:before {
	content: "\e70e";
}
.hawcons-icon-71-thermometer-full:before {
	content: "\e70f";
}
.hawcons-icon-72-lightning:before {
	content: "\e710";
}
.hawcons-icon-73-wind-turbine:before {
	content: "\e711";
}
.hawcons-icon-74-snowflake:before {
	content: "\e712";
}
.hawcons-icon-1-flashed-face:before {
	content: "\e713";
}
.hawcons-icon-2-flashed-face:before {
	content: "\e714";
}
.hawcons-icon-3-flashed-face-glasses:before {
	content: "\e715";
}
.hawcons-icon-4-face-missing-moth:before {
	content: "\e716";
}
.hawcons-icon-5-neutral-face:before {
	content: "\e717";
}
.hawcons-icon-6-smiling-face:before {
	content: "\e718";
}
.hawcons-icon-7-sad-face:before {
	content: "\e719";
}
.hawcons-icon-8-face-open-mouth:before {
	content: "\e71a";
}
.hawcons-icon-9-face-open-mouth:before {
	content: "\e71b";
}
.hawcons-icon-10-winking-face:before {
	content: "\e71c";
}
.hawcons-icon-11-laughing-face:before {
	content: "\e71d";
}
.hawcons-icon-12-laughing-face:before {
	content: "\e71e";
}
.hawcons-icon-13-smirking-face:before {
	content: "\e71f";
}
.hawcons-icon-14-stubborn-face:before {
	content: "\e720";
}
.hawcons-icon-15-neutral-face:before {
	content: "\e721";
}
.hawcons-icon-16-sad-face:before {
	content: "\e722";
}
.hawcons-icon-17-smiling-face:before {
	content: "\e723";
}
.hawcons-icon-18-smiling-face-eyebrows:before {
	content: "\e724";
}
.hawcons-icon-19-grinning-face-eyebrows:before {
	content: "\e725";
}
.hawcons-icon-20-sad-face-eyebrows:before {
	content: "\e726";
}
.hawcons-icon-21-neutral-face-eyebrows:before {
	content: "\e727";
}
.hawcons-icon-22-angry-face:before {
	content: "\e728";
}
.hawcons-icon-23-worried-face:before {
	content: "\e729";
}
.hawcons-icon-24-winking-face:before {
	content: "\e72a";
}
.hawcons-icon-25-angry-face-eyebrows:before {
	content: "\e72b";
}
.hawcons-icon-26-grinning-face:before {
	content: "\e72c";
}
.hawcons-icon-27-sad-face:before {
	content: "\e72d";
}
.hawcons-icon-28-grinning-face-eyebrows:before {
	content: "\e72e";
}
.hawcons-icon-29-fake-grinning-face-eyebrows:before {
	content: "\e72f";
}
.hawcons-icon-30-worried-face-eyebrows:before {
	content: "\e730";
}
.hawcons-icon-31-face-stuck-out-tongue:before {
	content: "\e731";
}
.hawcons-icon-32-face-stuck-out-tongue:before {
	content: "\e732";
}
.hawcons-icon-33-kissing-face:before {
	content: "\e733";
}
.hawcons-icon-34-grinning-face-teeth:before {
	content: "\e734";
}
.hawcons-icon-35-angry-face-teeth:before {
	content: "\e735";
}
.hawcons-icon-37-grinning-face-teeth:before {
	content: "\e736";
}
.hawcons-icon-38-face-open-mouth-eyebrows:before {
	content: "\e737";
}
.hawcons-icon-39-face-open-mouth-eyebrows:before {
	content: "\e738";
}
.hawcons-icon-40-angry-face-open-mouth-eyebrows:before {
	content: "\e739";
}
.hawcons-icon-41-unamused-face-tightly-closed-eyes:before {
	content: "\e73a";
}
.hawcons-icon-42-sad-face--tightly-closed-eyes:before {
	content: "\e73b";
}
.hawcons-icon-43-kissing-face:before {
	content: "\e73c";
}
.hawcons-icon-44-face-closed-meyes:before {
	content: "\e73d";
}
.hawcons-icon-45-amused-face:before {
	content: "\e73e";
}
.hawcons-icon-46-amused-face-closed-eyes:before {
	content: "\e73f";
}
.hawcons-icon-47-amused-face-closed-eyes:before {
	content: "\e740";
}
.hawcons-icon-48-face-closed-eyes-open-mouth:before {
	content: "\e741";
}
.hawcons-icon-49-face-closed-eyes-open-mouth:before {
	content: "\e742";
}
.hawcons-icon-50-face-closed-eyes-open-mouth:before {
	content: "\e743";
}
.hawcons-icon-51-laughing-face:before {
	content: "\e744";
}
.hawcons-icon-52-smiling-face:before {
	content: "\e745";
}
.hawcons-icon-53-grinning-face:before {
	content: "\e746";
}
.hawcons-icon-54-sad-face:before {
	content: "\e747";
}
.hawcons-icon-55-sad-face:before {
	content: "\e748";
}
.hawcons-icon-56-sad-face-closed-eyes:before {
	content: "\e749";
}
.hawcons-icon-57-sad-face:before {
	content: "\e74a";
}
.hawcons-icon-58-smiling-face:before {
	content: "\e74b";
}
.hawcons-icon-59-astonished-face:before {
	content: "\e74c";
}
.hawcons-icon-60-astonished-face:before {
	content: "\e74d";
}
.hawcons-icon-61-face-moustache:before {
	content: "\e74e";
}
.hawcons-icon-62-face-moustache:before {
	content: "\e74f";
}
.hawcons-icon-63-face-glasses:before {
	content: "\e750";
}
.hawcons-icon-64-face-sunglasses:before {
	content: "\e751";
}
.hawcons-icon-65-smirking-face-sunglasses:before {
	content: "\e752";
}
.hawcons-icon-1-middle-finger:before {
	content: "\e753";
}
.hawcons-icon-2-rock-n-roll:before {
	content: "\e754";
}
.hawcons-icon-3-high-five:before {
	content: "\e755";
}
.hawcons-icon-4-thumb-up:before {
	content: "\e756";
}
.hawcons-icon-5-thumb-down:before {
	content: "\e757";
}
.hawcons-icon-6-thumb-up:before {
	content: "\e758";
}
.hawcons-icon-7-thumb-down:before {
	content: "\e759";
}
.hawcons-icon-8-two-fingers-swipe-left:before {
	content: "\e75a";
}
.hawcons-icon-9-two-fingers-swipe-right:before {
	content: "\e75b";
}
.hawcons-icon-10-two-fingers-swipe-up:before {
	content: "\e75c";
}
.hawcons-icon-11-two-fingers-swipe-down:before {
	content: "\e75d";
}
.hawcons-icon-12-two-fingers:before {
	content: "\e75e";
}
.hawcons-icon-13-three-fingers-double-tap:before {
	content: "\e75f";
}
.hawcons-icon-15-two-fingers-resize-out:before {
	content: "\e760";
}
.hawcons-icon-16-two-fingers-resize-in:before {
	content: "\e761";
}
.hawcons-icon-17-two-fingers-rotate:before {
	content: "\e762";
}
.hawcons-icon-18-one-finger-swipe-left:before {
	content: "\e763";
}
.hawcons-icon-19-one-finger-swipe-right:before {
	content: "\e764";
}
.hawcons-icon-20-one-finger-swipe-up:before {
	content: "\e765";
}
.hawcons-icon-21-one-finger-swipe-down:before {
	content: "\e766";
}
.hawcons-icon-22-one-finger:before {
	content: "\e767";
}
.hawcons-icon-23-one-finger-double-tap:before {
	content: "\e768";
}
.hawcons-icon-24-one-finger-tap:before {
	content: "\e769";
}
.hawcons-icon-25-one-finger-tap-hold:before {
	content: "\e76a";
}
.hawcons-icon-26-thumb-finger-tap:before {
	content: "\e76b";
}
.hawcons-icon-27-one-finger-click:before {
	content: "\e76c";
}
.hawcons-icon-28-three-fingers-swipe-left:before {
	content: "\e76d";
}
.hawcons-icon-29-three-fingers-swipe-right:before {
	content: "\e76e";
}
.hawcons-icon-30-three-fingers-swipe-up:before {
	content: "\e76f";
}
.hawcons-icon-31-three-fingers-swipe-down:before {
	content: "\e770";
}
.hawcons-icon-32-three-fingers:before {
	content: "\e771";
}
.hawcons-icon-33-three-fingers-double-tap:before {
	content: "\e772";
}
.hawcons-icon-35-two-fingers-swipe-up:before {
	content: "\e773";
}
.hawcons-icon-36-one-finger-double-tap:before {
	content: "\e774";
}
.hawcons-icon-37-two-fingers-swipe-down:before {
	content: "\e775";
}
.hawcons-icon-38-two-fingers-swipe-right:before {
	content: "\e776";
}
.hawcons-icon-39-two-fingers-swipe-left:before {
	content: "\e777";
}
.hawcons-icon-40-one-finger-tap:before {
	content: "\e778";
}
.hawcons-icon-41-one-finger-tap-hold:before {
	content: "\e779";
}
.hawcons-icon-42-one-finger-click:before {
	content: "\e77a";
}
.hawcons-icon-43-one-finger-swipe-horizontally:before {
	content: "\e77b";
}
.hawcons-icon-44-one-finger-swipe:before {
	content: "\e77c";
}
.hawcons-icon-45-two-fingers-double-tap:before {
	content: "\e77d";
}
.hawcons-icon-46-two-fingers-tap:before {
	content: "\e77e";
}
.hawcons-icon-47-one-finger-swipe-left:before {
	content: "\e77f";
}
.hawcons-icon-48-one-finger-swipe-right:before {
	content: "\e780";
}
.hawcons-icon-49-one-finger-swipe-up:before {
	content: "\e781";
}
.hawcons-icon-50-one-finger-swipe-down:before {
	content: "\e782";
}
.hawcons-icon-1-file-numbers:before {
	content: "\e783";
}
.hawcons-icon-2-file-pages:before {
	content: "\e784";
}
.hawcons-icon-3-file-app:before {
	content: "\e785";
}
.hawcons-icon-4-file-png:before {
	content: "\e786";
}
.hawcons-icon-5-file-pdf:before {
	content: "\e787";
}
.hawcons-icon-6-file-mp3:before {
	content: "\e788";
}
.hawcons-icon-7-file-mp4:before {
	content: "\e789";
}
.hawcons-icon-8-file-mov:before {
	content: "\e78a";
}
.hawcons-icon-9-file-jpg:before {
	content: "\e78b";
}
.hawcons-icon-10-file-key:before {
	content: "\e78c";
}
.hawcons-icon-11-file-html:before {
	content: "\e78d";
}
.hawcons-icon-12-file-css:before {
	content: "\e78e";
}
.hawcons-icon-13-file-java:before {
	content: "\e78f";
}
.hawcons-icon-14-file-psd:before {
	content: "\e790";
}
.hawcons-icon-15-file-ai:before {
	content: "\e791";
}
.hawcons-icon-16-file-bmp:before {
	content: "\e792";
}
.hawcons-icon-17-file-dwg:before {
	content: "\e793";
}
.hawcons-icon-18-file-eps:before {
	content: "\e794";
}
.hawcons-icon-19-file-tiff:before {
	content: "\e795";
}
.hawcons-icon-20-file-ots:before {
	content: "\e796";
}
.hawcons-icon-21-file-php:before {
	content: "\e797";
}
.hawcons-icon-22-file-py:before {
	content: "\e798";
}
.hawcons-icon-23-file-c:before {
	content: "\e799";
}
.hawcons-icon-24-file-sql:before {
	content: "\e79a";
}
.hawcons-icon-25-file-rb:before {
	content: "\e79b";
}
.hawcons-icon-26-file-cpp:before {
	content: "\e79c";
}
.hawcons-icon-27-file-tga:before {
	content: "\e79d";
}
.hawcons-icon-28-file-dxf:before {
	content: "\e79e";
}
.hawcons-icon-29-file-doc:before {
	content: "\e79f";
}
.hawcons-icon-30-file-odt:before {
	content: "\e7a0";
}
.hawcons-icon-31-file-xls:before {
	content: "\e7a1";
}
.hawcons-icon-32-file-docx:before {
	content: "\e7a2";
}
.hawcons-icon-33-file-ppt:before {
	content: "\e7a3";
}
.hawcons-icon-34-file-asp:before {
	content: "\e7a4";
}
.hawcons-icon-35-file-ics:before {
	content: "\e7a5";
}
.hawcons-icon-36-file-dat:before {
	content: "\e7a6";
}
.hawcons-icon-37-file-xml:before {
	content: "\e7a7";
}
.hawcons-icon-38-file-yml:before {
	content: "\e7a8";
}
.hawcons-icon-39-file-h:before {
	content: "\e7a9";
}
.hawcons-icon-40-file-exe:before {
	content: "\e7aa";
}
.hawcons-icon-41-file-avi:before {
	content: "\e7ab";
}
.hawcons-icon-42-file-odp:before {
	content: "\e7ac";
}
.hawcons-icon-43-file-dotx:before {
	content: "\e7ad";
}
.hawcons-icon-44-file-xlsx:before {
	content: "\e7ae";
}
.hawcons-icon-45-file-ods:before {
	content: "\e7af";
}
.hawcons-icon-46-file-pps:before {
	content: "\e7b0";
}
.hawcons-icon-47-file-dot:before {
	content: "\e7b1";
}
.hawcons-icon-48-file-txt:before {
	content: "\e7b2";
}
.hawcons-icon-49-file-rtf:before {
	content: "\e7b3";
}
.hawcons-icon-50-file-m4v:before {
	content: "\e7b4";
}
.hawcons-icon-51-file-flv:before {
	content: "\e7b5";
}
.hawcons-icon-52-file-mpg:before {
	content: "\e7b6";
}
.hawcons-icon-53-file-quicktime:before {
	content: "\e7b7";
}
.hawcons-icon-54-file-mid:before {
	content: "\e7b8";
}
.hawcons-icon-55-file-3gp:before {
	content: "\e7b9";
}
.hawcons-icon-56-file-aiff:before {
	content: "\e7ba";
}
.hawcons-icon-57-file-aac:before {
	content: "\e7bb";
}
.hawcons-icon-58-file-wav:before {
	content: "\e7bc";
}
.hawcons-icon-59-file-zip:before {
	content: "\e7bd";
}
.hawcons-icon-60-file-ott:before {
	content: "\e7be";
}
.hawcons-icon-61-file-tgz:before {
	content: "\e7bf";
}
.hawcons-icon-62-file-dmg:before {
	content: "\e7c0";
}
.hawcons-icon-63-file-iso:before {
	content: "\e7c1";
}
.hawcons-icon-64-file-rar:before {
	content: "\e7c2";
}
.hawcons-icon-65-file-gif:before {
	content: "\e7c3";
}
.hawcons-icon-66-document-file-numbers:before {
	content: "\e7c4";
}
.hawcons-icon-67-document-file-pages:before {
	content: "\e7c5";
}
.hawcons-icon-68-document-file-app:before {
	content: "\e7c6";
}
.hawcons-icon-69-document-file-png:before {
	content: "\e7c7";
}
.hawcons-icon-70-document-file-pdf:before {
	content: "\e7c8";
}
.hawcons-icon-71-document-file-mp3:before {
	content: "\e7c9";
}
.hawcons-icon-72-document-file-mp4:before {
	content: "\e7ca";
}
.hawcons-icon-73-document-file-mov:before {
	content: "\e7cb";
}
.hawcons-icon-74-document-file-jpg:before {
	content: "\e7cc";
}
.hawcons-icon-75-document-file-key:before {
	content: "\e7cd";
}
.hawcons-icon-76-document-file-html:before {
	content: "\e7ce";
}
.hawcons-icon-77-document-file-css:before {
	content: "\e7cf";
}
.hawcons-icon-78-document-file-java:before {
	content: "\e7d0";
}
.hawcons-icon-79-document-file-psd:before {
	content: "\e7d1";
}
.hawcons-icon-80-document-file-ai:before {
	content: "\e7d2";
}
.hawcons-icon-81-document-file-bmp:before {
	content: "\e7d3";
}
.hawcons-icon-82-document-file-dwg:before {
	content: "\e7d4";
}
.hawcons-icon-83-document-file-eps:before {
	content: "\e7d5";
}
.hawcons-icon-84-document-file-tiff:before {
	content: "\e7d6";
}
.hawcons-icon-85-document-file-ots:before {
	content: "\e7d7";
}
.hawcons-icon-86-document-file-php:before {
	content: "\e7d8";
}
.hawcons-icon-87-document-file-py:before {
	content: "\e7d9";
}
.hawcons-icon-88-document-file-c:before {
	content: "\e7da";
}
.hawcons-icon-89-document-file-sql:before {
	content: "\e7db";
}
.hawcons-icon-90-document-file-rb:before {
	content: "\e7dc";
}
.hawcons-icon-91-document-file-cpp:before {
	content: "\e7dd";
}
.hawcons-icon-92-document-file-tga:before {
	content: "\e7de";
}
.hawcons-icon-93-document-file-dxf:before {
	content: "\e7df";
}
.hawcons-icon-94-document-file-doc:before {
	content: "\e7e0";
}
.hawcons-icon-95-document-file-odt:before {
	content: "\e7e1";
}
.hawcons-icon-96-document-file-xls:before {
	content: "\e7e2";
}
.hawcons-icon-97-document-file-docx:before {
	content: "\e7e3";
}
.hawcons-icon-98-document-file-ppt:before {
	content: "\e7e4";
}
.hawcons-icon-99-document-file-asp:before {
	content: "\e7e5";
}
.hawcons-icon-100-document-file-ics:before {
	content: "\e7e6";
}
.hawcons-icon-101-document-file-dat:before {
	content: "\e7e7";
}
.hawcons-icon-102-document-file-xml:before {
	content: "\e7e8";
}
.hawcons-icon-103-document-file-yml:before {
	content: "\e7e9";
}
.hawcons-icon-104-document-file-h:before {
	content: "\e7ea";
}
.hawcons-icon-105-document-file-exe:before {
	content: "\e7eb";
}
.hawcons-icon-106-document-file-avi:before {
	content: "\e7ec";
}
.hawcons-icon-107-document-file-odp:before {
	content: "\e7ed";
}
.hawcons-icon-108-document-file-dotx:before {
	content: "\e7ee";
}
.hawcons-icon-109-document-file-xlsx:before {
	content: "\e7ef";
}
.hawcons-icon-110-document-file-ods:before {
	content: "\e7f0";
}
.hawcons-icon-111-document-file-pps:before {
	content: "\e7f1";
}
.hawcons-icon-112-document-file-dot:before {
	content: "\e7f2";
}
.hawcons-icon-113-document-file-txt:before {
	content: "\e7f3";
}
.hawcons-icon-114-document-file-rtf:before {
	content: "\e7f4";
}
.hawcons-icon-115-document-file-m4v:before {
	content: "\e7f5";
}
.hawcons-icon-116-document-file-flv:before {
	content: "\e7f6";
}
.hawcons-icon-117-document-file-mpg:before {
	content: "\e7f7";
}
.hawcons-icon-118-document-file-qt:before {
	content: "\e7f8";
}
.hawcons-icon-119-document-file-mid:before {
	content: "\e7f9";
}
.hawcons-icon-120-document-file-3gp:before {
	content: "\e7fa";
}
.hawcons-icon-121-document-file-aiff:before {
	content: "\e7fb";
}
.hawcons-icon-122-document-file-aac:before {
	content: "\e7fc";
}
.hawcons-icon-123-document-file-wav:before {
	content: "\e7fd";
}
.hawcons-icon-124-document-file-zip:before {
	content: "\e7fe";
}
.hawcons-icon-125-document-file-ott:before {
	content: "\e7ff";
}
.hawcons-icon-126-document-file-tgz:before {
	content: "\e800";
}
.hawcons-icon-127-document-file-dmg:before {
	content: "\e801";
}
.hawcons-icon-128-document-file-iso:before {
	content: "\e802";
}
.hawcons-icon-129-document-file-rar:before {
	content: "\e803";
}
.hawcons-icon-130-document-file-gif:before {
	content: "\e804";
}
